* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  background-color: rgb(30 30 30);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 20px 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: rgb(50 50 50);
}

h1 {
  font-size: 30px;
  margin: 0;
  color: palegreen;
}

h2 {
  color: lightgrey;
}

p, li {
  color: lightgrey;
}

table {
  margin-top: 100px;
  border-collapse: collapse;
}

th, td {
  padding: 20px;
  border: 3px solid lightgrey;
  color: lightgrey;
}

a {
  font-size: 20px;
  color: grey;
  transition: color 0.5s;
}

a:hover {
  color: lightgrey;
  transition: color 0.5s;
}

footer {
  color: lightgrey;
  text-align: left;
  padding: 20px;
  background-color: rgb(50 50 50);
}

#header-menu {
  padding-left: 50px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile-image {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px;
  border: 3px solid palegreen;
  border-radius: 0 0 30px;
  transition: border-radius 0.5s;
}

#profile-image:hover {
  width: 250;
  border-radius: 30px;
  transition: all 0.5s;
}

#contact-menu {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

#lessons {
  padding-top: 100px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

#aside {
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#section-contact {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-data {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-lessons {
  padding-bottom: 100px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.highlight {
  font-weight: 900;
  color: palegreen;
}

.content {
  max-width: 70%;
}
