body {
  font-size: 16px;
}

h1 {
  color: seagreen;
  font-size: 65px;
  font-family: sans-serif, Helvetica;
}

p {
  font-weight: 600;
}

li {
  font-style: italic;
  line-height: 60px;
  text-align: center;
  text-decoration: underline;
  font-size: 2em;
}

#green {
  background-color: green;
}

#dark-green {
  background-color: seagreen;
}

#blue {
  background-color: blue;
}

.background-coloring {
  background-color: whitesmoke;
}
