* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

body {
  margin: 0;
  text-align: center;
  background-color: royalblue;
}

header {
  padding: 10px;
  background-color: black;
}

main {
  margin-top: 50px;
}

button {
  height: 40px;
  background-color: chartreuse;
  color: darkgreen;
  border: 3px solid darkgreen;
  border-radius: 5px;
}

input {
  text-align: center;
  height: 30px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: darkslategrey;
  color: white;
}

input:focus {
  outline: none;
}

span {
  color: black;
  border-radius: 10px;
}

#carta-contador {
  margin: auto;
  padding: 10px;
  width: fit-content;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, sans-serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('imagens/imagem-01.jpg');
  color: fuchsia;
  font-family: Verdana, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
