* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
}

body {
  background-color: darkolivegreen;
  text-align: center;
}

input {
  height: 20px;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
}

button {
  height: 30px;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 5px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, sans-serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('imagens/imagem-01.jpg');
  color: fuchsia;
  font-family: Verdana, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}
