* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(80 80 80);
}

h1 {
  color: white;
}

button {
  width: 150px;
  height: 40px;
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  border-style: none;
  outline: none;
  cursor: pointer;
}

img {
  width: 200px;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#buttons {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}