.PlanetCard {
  flex-grow: 1;
}

.PlanetCardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PlanetLine {
  width: 100%;
  height: 0.1vh;
  position: absolute;
  top: 50%;
  bottom: 50%;
  background-color: white;
  z-index: -1;
}

.Netuno {
  width: 60%;
  animation: rotation 10s linear infinite;
}

.Urano {
  width: 60%;
  animation: rotation 20s linear infinite;
}

.Mercúrio {
  width: 20%;
  animation: rotation 70s linear infinite;
}

.Vênus {
  width: 35%;
  animation: rotation 80s linear infinite;
}

.Terra {
  width: 40%;
  animation: rotation 50s linear infinite;
}

.Marte {
  width: 30%;
  animation: rotation 60s linear infinite;
}

.Júpiter {
  width: 100%;
  animation: rotation 40s linear infinite;
}

.Saturno {
  width: 120%;
  animation: rotation 30s linear infinite;
}

.PlanetName {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 2vh;
  color: white;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
