* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: rgb(50 50 50);
}

h1 {
  color: lightgrey;
}

h2, h3 {
  font-weight: 100;
  color: darkgrey;
}

th {
  color: lightgrey;
}

p, td {
  color: darkgrey;
}

strong {
  color: white;
}

img {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 300px;
  border-radius: 10px;
}

a {
  text-decoration: none;
  font-weight: 100;
  color: tan;
}

a:not(:hover) {
  
  color: tan;
  transition: 0.5s;
}

a:hover {
  color: palegoldenrod;
  transition: 0.5s;
}

#header {
  background-color: rgb(70 70 70);
}

#title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

#menu {
  padding-bottom: 20px;
  text-align: center;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu ul li {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  font-size: x-large;
  font-weight: 700;
}

#primary-content {
  margin-top: 200px;
  text-align: center;
}

#primary-content p {
  text-align: justify;
  width: 800px;
}

#section-classification {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-description {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-capacity {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-bibliography {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#data {
  border-collapse: collapse;
}

#data th , td {
  padding: 20px;
  border: 1px solid lightgrey;
}

#video {
  margin-top: 50px;
}

#video a {
  font-size: larger;
  font-weight: 700;
}

#section-bibliography ul {
  margin: 50px 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

#section-bibliography ul li a {
  font-size: medium;
  font-weight: 700;
}

#documentary {
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;
}

#footer {
  background-color: rgb(70 70 70);
}

#copyright {
  margin: 0;
  padding: 20px;
  text-align: left;
}
